{% extends "_template.html.twig" %}

{% block title %}
    Registration
{% endblock %}

{% block content %}
    <div class="section">
        <h2 class="title">Inscription</h2>

        {% include 'includes/flash_message.html.twig' %}

        {{ form_start(registration_form) }}
        {{ form_row(registration_form.email, {
            label: 'email'
        }) }}

        {{ form_row(registration_form.pseudo, {
            label: 'Pseudo'
        }) }}
        {{ form_row(registration_form.Password, {
            label: 'Mot de passe'
        }) }}


        <button class="button is-primary is-fullwidth" type="submit">
           Inscription
        </button>


        {{ form_end(registration_form) }}
    </div>
{% endblock %}